#  This service is a workaround for a bug:
#  since the Wi-Fi adapter driver is loaded at approximately
#  the same time as the filesystem, there is a possibility
#  that the driver won't be able to load its firmware from
#  the filesystem which is not mounted yet.
#
#  This service rebinds the Wi-Fi driver to SDHC in order
#  for it to load its firmware after the filesystem is
#  actually mounted.
#
#  TODO: Use udev rules instead.

[Unit]
Description=Rebind Wi-Fi
ConditionPathExists=/sys/bus/sdio/drivers/brcmfmac_sdio/mmc1:0001:2

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'if ! ifconfig wlan0 &> /dev/null; \
                        then echo "3800d000.sdhci1" > /sys/bus/platform/drivers/sdhci-mcom02/unbind; \
                        echo "3800d000.sdhci1" > /sys/bus/platform/drivers/sdhci-mcom02/bind; fi'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
