#  This service is a workaround for bug #MCOM02SW-49:
#  sometimes the Mali driver fails to load at boot. This
#  service loads it again in such cases.
#
#  Prior to switching to systemd this problem used to be
#  avoided using an init script.

[Unit]
Description=Reload Mali
ConditionPathExists=/dev/ump
ConditionPathExists=!/dev/mali

[Service]
Type=oneshot
ExecStart=/usr/bin/mali-reload

[Install]
WantedBy=multi-user.target
